$breakpoints: (
  // phone
  'mobile-S': 320px,
  'mobile-M': 375px,
  'mobile-L': 425px,
  // tablet
  'tablet': 768px,
  'tablet-W': 1024px,
  // laptop
  'laptop': 1200px,
  // desktop
  'desktop': 1440px,
  // large screen
  'large-screen': 1920px
);

// media query
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
