.inline {
  display: inline;
}

.top4 {
  padding: 4px 0 0;
}

.top8 {
  padding: 8px 0 0;
}

.top12 {
  padding: 12px 0 0;
}

.top16 {
  padding: 16px 0 0;
}

.top20 {
  padding: 20px 0 0;
}

.right4 {
  padding: 0 4px 0 0;
}

.right8 {
  padding: 0 8px 0 0;
}

.right12 {
  padding: 0 12px 0 0;
}

.right16 {
  padding: 0 16px 0 0;
}

.right20 {
  padding: 0 20px 0 0;
}
